.card {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
  }
  
  .header-title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 9px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title, 
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .exp-panel-expenses{
    box-shadow: none !important;
  }
  
  .users-text {
    margin-right: 16px;
  }
  
  .list {
    padding: 0px;
  }
  
  .group-user-item {
    padding: 0;
  }
  
  .action-button{
    margin-left: 16px;
  }

  .fab {
    position: fixed;
    right: 20px;
    bottom: 15px;
    margin-left: -28px;
  }

  .mat-list-item-content{
    padding: 0;
  }
  
  .mat-expansion-panel-header {
    padding: 0;
  }
  
  .content-label {
    margin-top: 4px;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
  }
  
  .content-value {
    margin-top: 4px;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
  }
  
.mat-card-content {
  margin-bottom: 0;
}

.group-icon {
  font-size: 35px;
}

.lose {
  color: red;
}

.menu-button{
  position: absolute;
  right: 10px; 
}

.menu-icon{
  font-size: 33px;
}
