<div *ngIf="!(relations | async)">
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>

<mat-card *ngFor="let relation of relations | async" class="card">
    <div class="header-container">
        <mat-card-header>
            <img mat-card-avatar src="{{this.getFbInfo(relation.userId)?.picture}}">
            <mat-card-title class="name">{{this.getFbInfo(relation.userId)?.name}}</mat-card-title>
            <mat-card-subtitle *ngIf="relation.owesMe > relation.iOwe">Owes Me ARS {{ (relation.owesMe - relation.iOwe ) | number:'1.2-2'}}</mat-card-subtitle>
        </mat-card-header>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-expansion-panel class="exp-panel-expenses">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Expenses
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field>
                <input matInput placeholder="First name">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Age">
            </mat-form-field>
        </mat-expansion-panel>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>PAY</button>
    </mat-card-actions>
</mat-card>