<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-spinner *ngIf="mercadoProcessing"></mat-spinner>
      <mat-slide-toggle *ngIf="!mercadoProcessing" color="primary" (change)="acceptMP($event)" [(ngModel)]="isAcceptingMP" [(checked)]="isAcceptingMP">
        {{ isAcceptingMP ? 'You are accepting payments by MercadoPago!' : 'You are not accepting payments by Mercadopago' }}
      </mat-slide-toggle>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
</mat-card>