.fab {
    position: fixed;
    right: 20px;
    bottom: 15px;
    margin-left: -28px;
  }

.card {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-container{
  display: flex;
  justify-content: space-between;
}

.amount-container{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
.amount{
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    align-self: center;
    min-width: 140px;
    text-align-last: end;
  }

.total-amount {
  text-align-last: end;
}

.individual-amount{
  font-weight: normal;
  min-width: 100px;
  text-align-last: end;
}

.list {
  padding: 0px;
}

.mat-card-title{
  font-size: 22px;
}

.user-amount{
    min-width: 140px;
    text-align-last: end;
  }

  .mat-list-item-content{
  padding: 0px;
}