.fab {
    position: fixed;
    right: 20px;
    bottom: 15px;
    margin-left: -28px;
  }

.card {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-container{
  display: flex;
  justify-content: space-between;
}

.amount-container{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
.amount{
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    align-self: center
  }

.individual-amount{
  font-weight: normal
}

.list{
  padding: unset
}