<div *ngIf="!(expenses | async)">
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>
<mat-list>
    <div *ngFor="let expense of expenses | async; let i = index;">
        <mat-divider *ngIf="i != 0"></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>monetization_on</mat-icon>
            <h3 mat-line>{{expense.title | titlecase}}</h3>
            <h5 mat-line>Total Amount: {{expense.totalAmount | number:'1.2-2'}}</h5>
            <h5 mat-line>Date: {{expense.date | date}} </h5>
            <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="expense">
                <mat-icon mat-list-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item disabled>
                    <mat-icon>attach_money</mat-icon>
                    <span>Pay Off</span>
                </button>
                <a mat-menu-item routerLink="/expenses/{{expense.id}}">
                    <mat-icon>mode_edit</mat-icon>
                    <span>Edit</span>
                </a>
            </mat-menu>
        </mat-list-item>
    </div>
</mat-list>





<a mat-fab color="primary" routerLink="/expenses/new" class="fab">
    <mat-icon>add</mat-icon>
</a>