.fab {
    position: fixed;
    right: 20px;
    bottom: 15px;
    margin-left: -28px;
  }

.card {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.amount-container{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
.amount{
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    align-self: center;
    min-width: 140px;
    text-align-last: end;
  }

.individual-amount{
  font-weight: normal;
  min-width: 100px;
  text-align-last: end;
}

.header-title {
  font-size: 16px;
  font-weight: 500;
}

.list {
  padding: 0px;
}

.user-amount{
    min-width: 140px;
    text-align-last: end;
  }

.mat-list-item-content{
  padding: 0px;
}

.exp-panel-expenses{
  box-shadow: none !important;
}

.pay-button {
  color: green;
}

.action-button{
  margin-left: 16px;
}

.content-label {
  margin-top: 4px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
}

.content-value {
  margin-top: 4px;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
}

.win {
  color: green;
}

.lose {
  color: red;
}

.mat-list-item-content{
  padding: 0;
}

.bottom-spacer{
  height: 80px;
}

.expense-user-item {
  padding: 0;
}

.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}