<div *ngIf="!(ownExpenses | async)">
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>
<mat-card *ngFor="let expense of ownExpenses | async" class="card">
    <mat-card-header>
        <img mat-card-avatar src="{{this.getFbInfo(expense.creator)?.picture}}" />
        <mat-card-title class="header-title">{{expense.title | titlecase}}</mat-card-title>
        <mat-card-subtitle>
            <div *ngIf="this.isMyExpense(expense)">
                <label class="win content-label">Participants owes me:</label>
                <span class="content-value win">ARS {{expense.totalAmount | number:'1.2-2'}}</span>
            </div>
            <div *ngIf="!this.isMyExpense(expense)">
                <label class="lose content-label">I owe {{this.getFbInfo(expense.creator)?.name}}:</label>
                <span class="lose content-value">ARS {{expense.totalAmount | number:'1.2-2'}}</span>
            </div>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="content-container">
            <div class="label-container">
                <label class="content-label">Creator:</label>
                <span class="content-value">{{this.getFbInfo(expense.creator)?.name}}</span>
            </div>
            <div class="label-container">
                <label class="content-label">Total:</label>
                <span class="content-value">ARS {{expense.totalAmount | number:'1.2-2'}}</span>
            </div>
            <div class="label-container">
                <label class="content-label">Date:</label>
                <span class="content-value">{{expense.date | date}}</span>
            </div>
        </div>
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel class="exp-panel-expenses">
                <mat-expansion-panel-header>
                    <div class="participants-text">
                        <label class="content-value">{{expense.users.length}} Participants:  </label>
                        <span class="content-label">{{this.getParticipantsName(expense)}}</span>
                    </div>
                </mat-expansion-panel-header>
                <mat-list class="list">
                    <div *ngFor="let user of expense.users" class="list">
                        <mat-list-item class="expense-user-item">
                            <img matListAvatar src="{{this.getFbInfo(user.id)?.picture}}">
                            <h3 matLine>{{this.getFbInfo(user.id)?.name}} {{user.id === expense.creator ? '(Creator)' : ''}}</h3>
                            <h5 matLine>ARS {{user.individualAmount | number:'1.2-2'}}</h5>
                            <mat-icon *ngIf="!user.payed" class="lose">clear</mat-icon> 
                            <mat-icon *ngIf="user.payed" class="win">done</mat-icon>
                        </mat-list-item>
                    </div>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-icon-button class="action-button" color="warn" (click)="delete(expense)">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button routerLink="/expenses/expenses/{{expense.id}}" class="action-button">
            <mat-icon>mode_edit</mat-icon>
        </button>
        <button mat-icon-button class="action-button pay-button">
            <mat-icon>attach_money</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>

<a mat-fab color="primary" routerLink="/expenses/new" class="fab">
    <mat-icon>add</mat-icon>
</a>