.card {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.exp-panel-expenses{
    box-shadow: none !important;
}

.content-label {
    margin-top: 4px;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
}
  
.content-value {
    margin-top: 4px;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
}

.win {
    color: green;
}

.lose {
    color: red;
}

.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.expense-user-item {
    padding: 0;
}

.list {
    padding: 0px;
}

.header-title {
    font-size: 16px;
    font-weight: 500;
}

.mat-expansion-panel-header {
    padding: 0;
}

.pay-button {
    color: green;
    position: absolute;
    right: 20px; 
}

.action-button{
    margin-left: 16px;
}

.mat-card-actions {
    padding: 0;
  }
  
  .mat-card-content {
    margin-bottom: 0;
  }

  .pay-icon{
    font-size: 33px;
  }
  
  
.exp-panel-header {
    height: 38px;
}

.subtitle{
    margin-bottom: 0px;
}