<mat-card class="card">
    <mat-card-header>
        <img mat-card-avatar src="{{this.getFbInfo(relation.userId)?.picture}}" />
        <mat-card-title class="header-title">{{this.getFbInfo(relation.userId)?.name | titlecase}}</mat-card-title>
        <mat-card-subtitle class="subtitle">
            <div *ngIf="relation.owesMe > relation.iOwe">
                <label class="win content-label">Owes me:</label>
                <span class="content-value win">ARS {{(relation.owesMe - relation.iOwe) | number:'1.2-2'}}</span>
            </div>
            <div *ngIf="relation.owesMe < relation.iOwe">
                <label class="lose content-label">I owe:</label>
                <span class="lose content-value">ARS {{(relation.iOwe - relation.owesMe) | number:'1.2-2'}}</span>
            </div>
            <div *ngIf="relation.owesMe === relation.iOwe">
            <span class="content-label">You are even</span>
            </div>
        </mat-card-subtitle>
        <button mat-icon-button class="pay-button" *ngIf="relation.iOwe > relation.owesMe">
            <mat-icon class="pay-icon">attach_money</mat-icon>
        </button>
    </mat-card-header>

    <mat-card-content>
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel class="exp-panel-expenses" *ngIf="relation.pendingExpenses.length > 0">
                <mat-expansion-panel-header class="exp-panel-header">
                    <mat-panel-title class="content-value">{{relation.pendingExpenses.length}} Pending Expenses</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="list">
                    <div *ngFor="let expense of relation.pendingExpenses" class="list">
                        <mat-list-item class="expense-user-item">
                            <mat-icon mat-list-icon>assignment</mat-icon>
                            <h4 mat-line>{{expense.title}}</h4>
                            <h4 mat-line>ARS {{expense.totalAmount | number:'1.2-2'}}</h4>
                        </mat-list-item>
                    </div>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel class="exp-panel-expenses" *ngIf="relation.payedExpenses.length > 0">
                <mat-expansion-panel-header class="exp-panel-header">
                    <mat-panel-title class="content-value">{{relation.payedExpenses.length}} Payed Expenses</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="list">
                    <div *ngFor="let expense of relation.payedExpenses" class="list">
                        <mat-list-item class="expense-user-item">
                            <mat-icon mat-list-icon>assignment</mat-icon>
                            <h4 mat-line>{{expense.title}}</h4>
                            <h4 mat-line>ARS {{expense.totalAmount | number:'1.2-2'}}</h4>
                        </mat-list-item>
                    </div>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>