.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.demo-tab-group {
  border: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
}

.tab{
  width: 100%;
}

.demo-tab-content {
  padding: 16px;
}

.example-spacer {
  flex: 1 1 auto;
}

.logout {
  color: red;
}