<mat-card class="card">
  <mat-card-header>
    <img mat-card-avatar src="{{fbInfo(expense.creator)?.picture}}" />
    <mat-card-title class="header-title">{{expense.title | titlecase}}</mat-card-title>

    <mat-card-subtitle class="content-container">
      <div class="label-container">
        <label class="content-label">Total:</label>
        <span class="content-value"> ARS {{expense.totalAmount | number:'1.2-2'}}</span>
      </div>

    </mat-card-subtitle>
    <div class="menu-button">
      <button class="pay-button" mat-icon-button (click)="pay()" *ngIf="!iPayed">
        <mat-icon class="pay-button">attach_money</mat-icon>
      </button>
      <button mat-icon-button (click)="delete(expense)" *ngIf="isMyExpense">
        <mat-icon color="warn">delete</mat-icon>
      </button>
      <button mat-icon-button routerLink="/expenses/{{isMyExpense ? 'expenses' : 'otherExpenses'}}/{{expense.id}}" *ngIf="isMyExpense">
        <mat-icon>mode_edit</mat-icon>
      </button>
    </div>

  </mat-card-header>
  <mat-card-content>
    <div class="content-container">

      <!-- Other Expense -> I owe XXX ARS NNNN -->
      <div class="label-container" *ngIf="!isMyExpense && !iPayed">
        <label class="lose content-label">I owe {{fbInfo(expense.creator)?.name}} </label>
        <span class="lose content-value">ARS {{myDebt | number:'1.2-2'}}</span>
      </div>

      <!-- Other Expense -> I payed XXX ARS NNNN -->
      <div class="label-container" *ngIf="!isMyExpense && iPayed">
        <label class="win content-label">I payed {{fbInfo(expense.creator)?.name}} </label>
        <span class="content-value win">ARS {{myDebt | number:'1.2-2'}}</span>
      </div>

      <!-- I PAYED XXX -->
      <div class="label-container" *ngIf="isMyExpense">
        <label class="win content-label">I payed </label>
        <span class="content-value win">ARS {{myDebt | number:'1.2-2'}}</span>
      </div>

      <!-- My Expense ->  Participants still owes me XXX -->
      <div class="label-container" *ngIf="isMyExpense && participantsDebtAmount > 0">
        <label class="lose content-label">Participants still owes me </label>
        <span class="content-value lose">ARS {{participantsDebtAmount | number:'1.2-2'}}</span>
      </div>

      <!-- My Expense -> Participants payed XXX -->
      <div class="label-container" *ngIf="isMyExpense && participantsPaymentAmount > 0">
        <label class="win content-label">Participants payed me </label>
        <span class="content-value win">ARS {{participantsPaymentAmount | number:'1.2-2'}}</span>
      </div>

    </div>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel class="exp-panel-expenses">
        <mat-expansion-panel-header>
          <div class="participants-text">
            <label class="content-value">{{numberOfUsers}} Participants: </label>
            <span class="content-label">{{participantsNames}}</span>
          </div>
        </mat-expansion-panel-header>

        <div class="user-card-container">
          <mat-card *ngFor="let user of expense.users" class="user-card">
            <mat-card-header>
              <img mat-card-avatar src="{{myFbInfo.picture}}">
              <mat-card-title class="user-card-title">{{myFbInfo.name}}{{(user.id === expense.creator) ? ' (Creator)' : ''}}</mat-card-title>
              <mat-card-subtitle *ngIf="user.id === expense.creator" class="win subtitle">Payed ARS {{user.individualAmount | number:'1.2-2'}}</mat-card-subtitle>
              <mat-card-subtitle *ngIf="user.payed && user.id !== expense.creator" class="win subtitle">Payed ARS {{user.individualAmount | number:'1.2-2'}} to {{fbInfo(expense.creator)?.name}}</mat-card-subtitle>
              <mat-card-subtitle *ngIf="!user.payed && user.id !== expense.creator" class="lose subtitle">Owes ARS {{user.individualAmount | number:'1.2-2'}} to {{fbInfo(expense.creator)?.name}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>