<mat-card class="card">
  <mat-card-header>
    <img mat-card-avatar src="{{this.getFbInfo(expense.creator)?.picture}}" />
    <mat-card-title class="header-title">{{expense.title | titlecase}}</mat-card-title>

    <mat-card-subtitle class="content-container">
      <div class="label-container">
        <label class="content-label">Total:</label>
        <span class="content-value">ARS {{expense.totalAmount | number:'1.2-2'}}</span>
      </div>

    </mat-card-subtitle>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
      <mat-icon class="menu-icon">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button class="pay-button" mat-menu-item *ngIf="!iPayed">
        <mat-icon class="pay-button">attach_money</mat-icon>
        <span>Pay</span>
      </button>
      <button mat-menu-item (click)="delete(expense)">
        <mat-icon color="warn">delete</mat-icon>
        <span class="lose">Delete</span>
      </button>
      <button mat-menu-item routerLink="/expenses/expenses/{{expense.id}}">
        <mat-icon>mode_edit</mat-icon>
        <span>Edit</span>
      </button>
    </mat-menu>

  </mat-card-header>
  <mat-card-content>
    <div class="content-container">

      <!-- Other Expense -> I owe XXX ARS NNNN -->
      <div class="label-container" *ngIf="!isMyExpense(expense) && !iPayed">
        <label class="lose content-label">I owe {{getFbInfo(expense.creator)?.name}} </label>
        <span class="lose content-value">ARS {{getMyDebt(expense) | number:'1.2-2'}}</span>
      </div>

      <!-- Other Expense -> I payed XXX ARS NNNN -->
      <div class="label-container" *ngIf="!isMyExpense(expense) && iPayed">
        <label class="win content-label">I payed {{getFbInfo(expense.creator)?.name}} </label>
        <span class="content-value win">ARS {{getMyDebt(expense) | number:'1.2-2'}}</span>
      </div>

      <!-- I PAYED XXX -->
      <div class="label-container" *ngIf="isMyExpense(expense)">
        <label class="win content-label">I payed </label>
        <span class="content-value win">ARS {{getMyDebt(expense) | number:'1.2-2'}}</span>
      </div>

      <!-- My Expense ->  Participants still owes me XXX -->
      <div class="label-container" *ngIf="this.isMyExpense(expense) && participantsDebt > 0">
        <label class="lose content-label">Participants still owes me </label>
        <span class="content-value lose">ARS {{participantsDebt | number:'1.2-2'}}</span>
      </div>

      <!-- My Expense -> Participants payed XXX -->
      <div class="label-container" *ngIf="this.isMyExpense(expense) && participantsPayment > 0">
        <label class="win content-label">Participants payed me </label>
        <span class="content-value win">ARS {{participantsPayment | number:'1.2-2'}}</span>
      </div>

    </div>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel class="exp-panel-expenses">
        <mat-expansion-panel-header>
          <div class="participants-text">
            <label class="content-value">{{expense.users.length}} Participants: </label>
            <span class="content-label">{{this.getParticipantsName(expense)}}</span>
          </div>
        </mat-expansion-panel-header>

        <div class="user-card-container">
          <mat-card *ngFor="let user of expense.users" class="user-card">
            <mat-card-header>
              <img mat-card-avatar src="{{this.getFbInfo(user.id)?.picture}}">
              <mat-card-title class="user-card-title">{{this.getFbInfo(user.id)?.name}}{{(user.id === expense.creator) ? ' (Creator)' : ''}}</mat-card-title>
              <mat-card-subtitle *ngIf="user.id === expense.creator" class="win subtitle">Payed ARS {{user.individualAmount | number:'1.2-2'}}</mat-card-subtitle>
              <mat-card-subtitle *ngIf="user.payed && user.id !== expense.creator" class="win subtitle">Payed ARS {{user.individualAmount | number:'1.2-2'}} to {{this.getFbInfo(expense.creator)?.name}}</mat-card-subtitle>
              <mat-card-subtitle *ngIf="!user.payed && user.id !== expense.creator" class="lose subtitle">Owes ARS {{user.individualAmount | number:'1.2-2'}} to {{this.getFbInfo(expense.creator)?.name}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>