<div class="back">
    <div class="card">
        <div class="button-row">
            <h1 class="title">Sign In.</h1>
            <button mat-fab class="facebook-button" matTooltip="Login with Facebook" (click)="withFacebook()">
                <mat-icon svgIcon="facebook_icon"></mat-icon>
            </button>
        </div>
        <mat-slide-toggle color="primary" (change)="rememberMe()" [(ngModel)]="rememberMeChecked" [(checked)]="rememberMeChecked">Remember me</mat-slide-toggle>
    </div>
</div>