<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <h1>Friend Service</h1>
    <span class="example-spacer"></span>
    <button mat-icon-button class="logout" (click)="logout()">
      <mat-icon>highlight_off</mat-icon>
    </button>
  </mat-toolbar>

  <mat-tab-group class="demo-tab-group">
    <mat-tab label="Expenses">
        <ng-template mat-tab-label>
            <mat-icon>assignment</mat-icon>
            Expenses
        </ng-template>
        <app-expenses></app-expenses>
    </mat-tab>
    <mat-tab label="Persons">
        <ng-template mat-tab-label>
            <mat-icon>person</mat-icon>
            Persons
        </ng-template>
      <app-persons></app-persons>
    </mat-tab>
    <mat-tab label="Groups">
        <ng-template mat-tab-label>
            <mat-icon>group</mat-icon>
            Groups 
        </ng-template>
        <app-groups></app-groups>
    </mat-tab>
  </mat-tab-group>
</div>